{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}

{% block content %}

<div class="contentMain graph wow fadeInUpMin" data-wow-duration="2s">
  <h1>Ontology Graph Visualization</h1>
  <div class="svg-wrapper">
    <div class="fullScreenToggler">
      <span class="icon-enlarge2"></span>
      <span class="icon-shrink2"></span>
    </div>
    <div class="infoTrigger">
      <span class="icon-info"></span>
    </div>
    <svg id="graphSVG" width="1280" height="720" viewBox="0 0 1280 720" preserveAspectRatio="xMidYMid meet"></svg>
    <div class="info-overlay">
      <p>An ontology is a classification system that details not only information about its elements, but also about the relationships between them.</p>
      <p>This visualization is designed to allow a thorough exploration of PeTaL's ontology. Use the mouse scroll wheel to zoom in on any part of the graph; hover over any node to highlight it and its nearest neighbors; double click on any node to travel to its particular profile page within PeTaL.</p>
    </div>
  </div>
</div>

<script>

  var svg = d3.select("svg"),
      width = svg.attr("width"),
      height = svg.attr("height"),
      displayThreshold = 2000;

  svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "none")
    .style("pointer-events", "all")
    .call(d3.zoom()
      .scaleExtent([0.8, 8])
      .on("zoom", zoomed));

  var g = svg.append("g");

  function zoomed() {
    g.attr("transform", d3.event.transform);
  }

  var color = d3.scaleOrdinal(d3.schemeCategory20);

  var simulation = d3.forceSimulation()
      .force("link", d3.forceLink().id(function(d) { return d.id; }))
      .force("charge", d3.forceManyBody().strength(-50))
      .force('x', d3.forceX().x(function(d) {
        return 0;
      }))
      .force('y', d3.forceY().y(function(d) {
        return 0;
      }))
      .force("center", d3.forceCenter(width / 2, height / 2));

  d3.json("../data/d3graph.json", function(error, graph) {
    if (error) throw error;

    var link = g.append("g")
      .attr("class", "links")
      .selectAll("line")
      .data(graph.links)
      .enter().append("line")
        .attr("stroke-width", "0.5px");

    var node = g.attr("class", "node")
        .selectAll("node")
        .data(graph.nodes)
        .enter()
        .append("g")
        .on("dblclick", function(d) { window.open("/profile/" + d.id); })
        .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended)
        );

    node.append("circle")
        .attr("r", 3)
        .on("mouseover", fade(.3))
        .on("mouseout", fade(1))
        .attr("fill", function(d) { return color(d.group); });

    // node.append("title")
    //     .text(function (d) {return d.id;});

    node.append("text")
        .attr("dy", 1)
        .attr("dx", 5)
        .style("font-size", "5px")
        .text(function (d) {return d.label;});

    simulation
        .nodes(graph.nodes)
        .on("tick", ticked);

    simulation.force("link")
        .links(graph.links);

    var linkedByIndex = {};
    graph.links.forEach(function(d) {
        linkedByIndex[d.source.index + "," + d.target.index] = 1;
    });

    function isConnected(a, b) {
        return linkedByIndex[a.index + "," + b.index] | linkedByIndex[b.index + "," + a.index] | a.index == b.index;
    }

    function ticked() {
      link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node
          .attr("cx", function (d) {
              return d.x;
          })
          .attr("cy", function (d) {
              return d.y;
          })
          .attr("transform", function (d) {return "translate(" + d.x + ", " + d.y + ")";});
    }

    function fade(opacity) {
        return function(d) {
            node.style("opacity", function(o) {
                thisOpacity = isConnected(d, o) ? 1 : opacity;
                this.setAttribute('fill-opacity', thisOpacity);
                return thisOpacity;
            });

            link.style("stroke-opacity", function(o) {
                return o.source === d | o.target === d ? 1 : opacity;
            });
        };
    }
  });

  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.2).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }
</script>

{% endblock content %}
