
{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/scatter.js"></script>
    <script src="/static/js/improved-noise.js"></script>
{% endblock %}

{% block content %}

  <div class="contentMain scatter loadingActive wow fadeInUpMin" data-wow-duration="2s">
    <h1>Distribution Scatter Plot</h1>
    <div class="scatterNav">
      <ul>
        <li data-feature="Functional" class="active">
          <a href="">Functional</a>
        </li>
        <li data-feature="Morphology">
          <a href="">Morphology</a>
        </li>
        <li data-feature="Environment">
          <a href="">Environment</a>
        </li>
        <li data-feature="t-SNE">
          <a href="">tSNE</a>
        </li>
      </ul>
    </div>
    <div id="scatterGraph" class="graphLoadding"></div>
    <div class="infoTrigger">
      <span class="icon-info"></span>
    </div>
  </div>
  <div class="scatterInfoOverlay">
    <div>
      <h2>Scatter Plot 3D Controls</h2><br>
      <P>To control <span>rotation</span> move your mouse while you click left.</P>
      <P>Use your mouse wheel to <span>zoom</span>.</P>
    </div>
  </div>

<script type="text/javascript">
  // Graph Settings
  const MAX=10, 
        INTERVAL_MIN=0.5, 
        INTERVAL_MAX=3, 
        X_NUM=10, 
        Y_NUM=10;
  let numberOfDataSets=1;

  let color_scale = d3.scale.category10();
  let stage = new Elegans.Stage(d3.select("#scatterGraph")[0][0]);
  let contentScatter = $(".contentMain.scatter");
  let scatterGraph = $('#scatterGraph');
  
  window.onload = function(){
    getTsneJsonData();
  };

  let x_arrTsne = [], 
      y_arrTsne = [], 
      z_arrTsne = [];
      titles = [];
  
  function getTsneJsonData() {
    $.getJSON("{{url_for('static', filename='js/tsne-data-points-3d.json')}}", function(jsonData) {
    //$.getJSON("{{url_for('static', filename='js/points-3d-petal-v01.json')}}", function(jsonData) {
      jsonData.forEach(n => {
        x_arrTsne.push(n.point[0] * 100);
        y_arrTsne.push(n.point[1] * 100);
        z_arrTsne.push(n.point[2] * 100);
        titles.push(n.imgname);
      })
      
      builtScatterGraph();
    });
  }

  function getDataPoints(dataStr="Functional") {
    let noise = ImprovedNoise();

    if (dataStr === "t-SNE") {
      let dataFromJson = { x:x_arrTsne, y:y_arrTsne, z:z_arrTsne };
      return dataFromJson;
    } 
    else {
      let x_arr = [], 
          y_arr = [], 
          z_arr = [];
      let point = {
          x:Math.random()*MAX,
          y:Math.random()*MAX,
          z:Math.random()*MAX,
      };
      if (dataStr === "Functional") {
        for(let i=0; i<X_NUM; i++){
          point.x = point.x + Math.random()*(INTERVAL_MAX - INTERVAL_MIN) + INTERVAL_MIN;
          for(let j=0;j<Y_NUM;j++){
              point.y = point.y + Math.random()*(INTERVAL_MAX - INTERVAL_MIN) + INTERVAL_MIN;
              point.z = noise.noise(point.x,point.y,0);
              x_arr.push(point.x);
              y_arr.push(point.y);
              z_arr.push(point.z);
          }
        }
      }
      else if (dataStr === "Morphology") {
        for(let i=0; i<X_NUM; i++){
          for(let j=0;j<Y_NUM;j++){
              point.x = Math.random()*(INTERVAL_MAX - INTERVAL_MIN) + INTERVAL_MIN;
              point.y = Math.random()*(INTERVAL_MAX - INTERVAL_MIN) + INTERVAL_MIN;
              point.z = Math.random()*(INTERVAL_MAX - INTERVAL_MIN) + INTERVAL_MIN;
              x_arr.push(point.x);
              y_arr.push(point.y);
              z_arr.push(point.z);
          }
        }
      }
      else if (dataStr === "Environment") {
        for(let i=0; i<X_NUM; i++){
          for(let j=0;j<Y_NUM;j++){
              point.x = Math.random()*(INTERVAL_MAX - INTERVAL_MIN) + INTERVAL_MIN;
              point.y = Math.random()* Math.random() * 8
              point.z = Math.random()* Math.random() * 22
              x_arr.push(point.x);
              y_arr.push(point.y);
              z_arr.push(point.z);
          }
        }
      }
      let data = { x:x_arr, y:y_arr, z:z_arr };
      return data;
    }
  };

  function builtScatterGraph(dataStr="Functional") {
    let stage = new Elegans.Stage(d3.select("#scatterGraph")[0][0]);
    if(dataStr === "t-SNE") {
      numberOfDataSets = 1;
    } 
    else {
      numberOfDataSets = 3;
    }
    for(let n=0; n < numberOfDataSets; n++){
        let data = getDataPoints(dataStr);
        let color = color_scale(n);
        stage.add(
          new Elegans.Particles(
            data, 
            {
              color: color, 
              name: "Set " + String(n + 1),
              size: .1,
              has_legend: true
            }
          )
        );
    }
    renderScatterPlot(stage);
  }

  function renderScatterPlot(stage) {
    // Render the chart
    stage.render();
    setTimeout( function(){ 
      scatterGraph.fadeIn();
      scatterGraph.removeClass('graphLoadding');
      contentScatter.removeClass('loadingActive');
    }  , 6000 );
  }
  // Plot side navigation
  (function scatterNavToggle() {
    let scatterNav = $(".scatterNav li");
    scatterNav.click(function(e) {
        e.preventDefault();
        scatterNav.removeClass('active');
        $(this).toggleClass('active');
        contentScatter.addClass('loadingActive');
        scatterGraph.addClass('graphLoadding');
        scatterGraph.empty();
        scatterGraph.hide();
        builtScatterGraph($(this).attr('data-feature'));
    });
  }());
  
  // Info Overlay
  let overlay = $('.scatterInfoOverlay');
  $('.infoTrigger').click(function(e) {
    e.preventDefault();
    overlay.fadeIn();
  });

  $('.scatterInfoOverlay').click(function(e) {
    e.preventDefault();
    overlay.fadeOut();
  });
</script>


{% endblock content %}

