{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <script src="{{url_for('static', filename='js/e2b.js')}}"></script>
{% endblock %}

{% block content %}

{% macro display_paper(testVar) %}
    <h1>Paper? {{testVar}}</h1>
{% endmacro %}

<div class="contentMain graph wow fadeInUpMin" data-wow-duration="2s">
  <h1>Engineering To Biology</h1>
  <h4>Biological Solution Literature Search Based on Selected Engineering Problems</h4>
  <span id="dropdowns" onload="loadPrimaryDropDown()">
      <select id="primary-dropdown" onchange="primarySelected(this.value)">
        <option value="">Select a Class</option>
      </select>

      <select id="secondary-dropdown" onchange="secondarySelected(this.value)" disabled>
        <option value="">Select a Secondary Term</option>
      </select>

      <select id="tertiary-dropdown" disabled>
        <option value="">Select a Tertiary Term</option>
      </select>
    </span>
  <button onclick="e2bSubmit()">Search</button>
  <div id="papers" hidden></div>
</div>

<script>
  window.onload = loadPrimaryDropDown();

  function getPrimaryDropdownData() {
    return e2b_data;
  }

  function getSecondaryDropdownData(primaryIndex) {
    return e2b_data[primaryIndex].secondary;
  }

  function getTertiaryDropdownData(primaryIndex, secondaryIndex) {
    debugger; //todo: debug
    e2b_data[primaryIndex].secondary[secondaryIndex].tertiary;
  }

  function loadPrimaryDropDown() {
    debugger;
    var primarydd = document.getElementById("primary-dropdown");
    var primaryInfo = getPrimaryDropdownData();

    for (var i = 0; i < primaryInfo.length; i++) {
        var newOption = primaryInfo[i];
        var newElement = document.createElement("option");
        newElement.textContent = newOption.name;
        newElement.value = newOption.id;
        primarydd.appendChild(newElement);
    }    
  }

  function primarySelected(primaryIndex) {
    var secondarydd = document.getElementById("secondary-dropdown");
    var tertiarydd = document.getElementById("tertiary-dropdown");

     secondarydd.selectedIndex = 0;

    while (secondarydd.length > 1)
      secondarydd.remove(1);        //remove all but the default option

    while (tertiarydd.length > 1)
      tertiarydd.remove(1);

    if (primaryIndex === "") {
      secondarydd.disabled = true;
      tertiarydd.disabled = true;
    }
    else {
      var secondaryInfo = getSecondaryDropdownData(primaryIndex)

      for (var i = 0; i < secondaryInfo.length; i++) {
        var newOption = secondaryInfo[i];
        var newElement = document.createElement("option");

        newElement.textContent = newOption.name;
        newElement.value = newOption.id;
        secondarydd.appendChild(newElement);
      }

      secondarydd.disabled = false;
    }
  }

  function secondarySelected(secondaryIndex) {
    var tertiarydd = document.getElementById("tertiary-dropdown");
    var primaryIndex = document.getElementById("primary-dropdown").value;

    while (tertiarydd.length > 1)
      tertiarydd.remove(1);

    if (secondaryIndex === "" || secondaryIndex === 0) {
      tertiarydd.disabled = true;
    }
    else {
      debugger;
      let tertiaryInfo = getSecondaryDropdownData(primaryIndex, secondaryIndex)

      for (var i = 0; i < tertiaryInfo.length; i++) {
        var newOption = tertiaryInfo[i];
        var newElement = document.createElement("option");

        newElement.textContent = newOption.name;
        newElement.value = newOption.id;
        tertiarydd.appendChild(newElement);
      }

      tertiarydd.disabled = false;
    }
  }

  function e2bSubmit() {
    debugger;

    var targetDiv = document.getElementById("papers");

    // targetDiv.appendChild( display_paper("test"));
  } 
</script>

{% endblock content %}
