
{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

  <div class="contentMain t-sne wow fadeInUpMin" data-wow-duration="2s">
    <h1>T-SNE Viewer</h1>
    <div class="tsneNav">
      <ul>
        <li data-feature="silhouettes" class="active">
          <a href="">Silhouettes Set</a>
        </li>
        <li data-feature="images">
          <a href="">Images Set</a>
        </li>
      </ul>
    </div>

    <div class="tsne-viewer">
      <div class="imgDataBox">
        <h3></h3>
      </div>
      
    </div>
  </div>

<script type="text/javascript">

  let tsneViewer = $(".tsne-viewer");
  let imgLabel = $(".imgDataBox h3");
  let viewerWidth = tsneViewer.width();
  let viewerHeight = tsneViewer.height();

  function buitldTsneVisualization(set="silhouettes") {

    if(set === "silhouettes") {
      $.getJSON("{{url_for('static', filename='js/tsne-data-points.json')}}", function(data) {
        data.forEach(x => {
          let xPos = (x.point[0] * viewerWidth * 4) / 3 - (viewerWidth / 2) ;
          let yPos = x.point[1] * viewerHeight + 50;
          let name = x.imgname;
          tsneViewer.append("<img src='/static/img/tsne-imgs/" + name + "' style='left:" 
            + xPos + "px;top:" + yPos + "px;' alt=" + name +">");
        })
        displayAssetNameOnHover();
      });
    }
    else {
      $.getJSON("{{url_for('static', filename='js/points-2d-petal-v01.json')}}", function(data) {
        data.forEach(x => {
          let xPos = (x.point[0] * viewerWidth * 4) / 3 - (viewerWidth / 2) ;
          let yPos = x.point[1] * viewerHeight + 50;
          let name = x.imgname;
          tsneViewer.append("<img src='/static/img/tsnepetalimgs/" + name + "' style='left:" 
            + xPos + "px;top:" + yPos + "px;' alt=" + name +">");
        })
        displayAssetNameOnHover();
      });
    }

  }
  // Run function on load
  buitldTsneVisualization();
  
  // Display Image name on hover
  function displayAssetNameOnHover() {
    $(".tsne-viewer img").hover(
      function() {
        let title = $(this).attr("alt");
        imgLabel.text(title);
      }, function() {
        imgLabel.text("");
      }
    );
  }

  // Side navigation
  (function tsneNavToggle() {
    let tsneNav = $(".tsneNav li");
    tsneNav.click(function(e) {
        e.preventDefault();
        tsneNav.removeClass('active');
        $(this).toggleClass('active');
        $(".tsne-viewer").empty();
        buitldTsneVisualization($(this).attr('data-feature'));
    });
  }());


</script>

{% endblock content %}



