{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <!-- <script src="{{url_for('static', filename='js/vision.js')}}"></script> -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block content %}

<div class="contentMain vision wow fadeInUpMin" data-wow-duration="2s">
  <h1>Image Classifier</h1>
  <div class="classify-box">
    <div class="droparea">
        <p>Drop image here</p> 
        or
        <input id="img-selector" type="file"></input>
    </div>
    <img id="uploaded-img" src="../static/img/default-image.png"/>
    <button id="classify-button">Classify</button>
  </div>
  <div class="tables-wrapper">
    <div id="ontology_table"></div>
    <div id="pattern_table"></div>
    <div id="visionPieChart">
       <h3>Geometric Patterns</h3>
    </div>
  </div>
</div>

<script>

let dataURL;
let imageURL;

//Drag and Drop ////////////////////////////////////////////
let dragHandler = function(evt){
    evt.preventDefault();
};

let dropHandler = function(evt){
    evt.preventDefault();

    // Update UI Drop field
    $(".droparea").empty();
    $(".droparea").append('<p>Uploading Image...');

    let files = evt.originalEvent.dataTransfer.files;
    let formData = new FormData();
    formData.append("file2upload", files[0]);
    let req = {
        url: "/sendfile",
        method: "post",
        processData: false,
        contentType: false,
        data: formData
    };

    let promise = $.ajax(req);
    imageURL = "{{url_for('static', filename='uploads/')}}" + files[0].name;

    imageToDataUrl(imageURL, function(base64Img){
      // console.log('IMAGE:',base64Img);
      dataURL = base64Img
    })
};

let dropHandlerSet = {
    dragover: dragHandler,
    drop: dropHandler
};

$(".droparea").on(dropHandlerSet);

function imageToDataUrl(src, callback, outputFormat) {
    let img = new Image();
    img.crossOrigin = 'Anonymous';
    img.onload = function() {
        let canvas = document.createElement('CANVAS');
        let ctx = canvas.getContext('2d');
        let dataURL;
        // Set canavas to image dimensions
        canvas.width = this.naturalWidth;
        canvas.height = this.naturalHeight;
        // Draw the img to a canvas
        ctx.drawImage(this, 0, 0);
        // Canvas to a data url
        dataURL = canvas.toDataURL(outputFormat);
        // Returning the data url with callback
        callback(dataURL);
        // Mark the canvas to be ready for garbage collection
        canvas = null;
    };
    setTimeout( function(){ 
        // Loading image
        console.log("src is: ", src);
        img.src = src;

        if(img.complete === undefined) {
            console.log("img.complete is undefined");
        }
        // make sure the load event fires for cached images too
        if (img.complete || img.complete === undefined) {
            // Flush cache
            img.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';
            // Try again
            img.src = src;
        }
        updateUiWithDroppedImage(src);
    }  , 3000 );
}

// Update UI with drag dropped image
function updateUiWithDroppedImage(src) {
    setTimeout( function(){ 
        $('body').addClass('imageUploaded');
        $("#uploaded-img").attr("src", imageURL);
    }  , 3000 );
}

//Choose File //////////////////////////////////////////
$("#img-selector").change(function(){
    let reader = new FileReader();
    reader.onload = function(e){
        dataURL = reader.result;
        $("#uploaded-img").attr("src", dataURL);
    }
    reader.readAsDataURL($("#img-selector")[0].files[0]);
    $("#label").text("")
    $("#ontology_table").text("")
    $('body').addClass('imageUploaded');
})

let responseObject = {};

//Classify /////////////////////////////////////////////
$("#classify-button").click(function(event){
    // console.log(dataURL)
    let tW = $(".tables-wrapper");
    tW.addClass('processing');
    let message = {
        img : dataURL
    }
    $.post("/vision", JSON.stringify(message), function(response){
        //console.log(message);
        tW.removeClass('processing');
        $("#ontology_table").append("<tr><th>Label</th><th>Probability</th></tr>")
        $.each(response.ontology, function(ix, cls) {
            $("#ontology_table").append("<tr><td><a href=\"/profile/"+cls.class +"\">"+cls.label+"</td><td>"+cls.score+"</td></tr>")
        });
        $("#pattern_table").append("<tr><th>Geometric Patterns</th></tr>")
        $.each(response.pattern, function(ix, cls) {
            $("#pattern_table").append("<tr><td>"+cls.label+"</td><td>"+cls.score+"</td></tr>")
            //add each element to responseObject
            responseObject[cls.label] = cls.score.substring(0, cls.score.length - 1);
        });
        // Create array to pass to build d3 graph
        let arr = [];
        for (let key in responseObject) {
          arr.push({
            name: key,
            value: responseObject[key]
          })
        };
        $('#visionPieChart').addClass('active');
        buildPieChart(arr);
    });
});


//D3.js pie graph ////////////////////////////////////////
function buildPieChart(data) {
    let w = 500,
        h = 400,
        halfWidth = w / 2,
        halfHeight = h / 2,
        padding = 100,
        outerRadius = halfWidth - padding,
        innerRadius = 50,
        r = Math.min(w - padding, h - padding) / 2,
        labelr = r + 30, // radius for label anchor
        color = d3.scale.ordinal()
        .range(["#5a8ea6", "#395b84", "#3fa789", "#217526", "#46a565"]);

    let div = d3.select("body").append("div").attr("class", "toolTip");

    let arc = d3.svg.arc()
        .innerRadius(innerRadius)
        .outerRadius(outerRadius);

    let pie = d3.layout.pie()
        .value(function (d) {
            return d.value;
        });

    let svg = d3.select("#visionPieChart")
        .append("svg")
        .attr("width", w)
        .attr("height", h);

    let arcs = svg.selectAll("g.arc")
        .data(pie(data))
        .enter()
        .append("g")
        .attr("class", "arc")
        .attr("transform", "translate(" + halfWidth + "," + halfHeight + ")");

    arcs.append("path")
        .style("fill", function (d) {
            return color(d.data.name);
        })
        .transition().delay(function (d, i) {
            return i * 400;
        }).duration(400)
        .attrTween('d', function (d) {
            let i = d3.interpolate(d.startAngle + 0.1, d.endAngle);
            return function (t) {
                d.endAngle = i(t);
                return arc(d)
            }
        });

    let labelArc = d3.svg.arc()
        .outerRadius(outerRadius)
        .innerRadius(outerRadius);
    
    // Append pie section labels
    arcs.append("text")
        .attr("transform", function (d) {
            let c = labelArc.centroid(d);
            return "translate(" + c[0] * 1.2 + "," + c[1] * 1.2 + ")";
        })
        .attr("dy", ".35em")
        .text(function (d) {
            return d.data.name;
        });

    // Display tooltip on mouse over
    d3.selectAll("path").on("mousemove", function (d) {
        div.style("left", d3.event.pageX + 10 + "px");
        div.style("top", d3.event.pageY - 25 + "px");
        div.style("display", "inline-block");
        div.html((d.data.name) + "<br>" + (d.data.value) + "%");
    });

    // Hide tooltip on mouse out
    d3.selectAll("path").on("mouseout", function (d) {
        div.style("display", "none");
    });
}

</script>

{% endblock %}
