{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/cluster_json_output.js')}}"></script>
{% endblock %}

{% block content %}
<!-- <div class = "cluster wow fadeInUpMin" style = "text-align: center" data-wow-duration="2s"><button onclick="show_hide()" class="btn blue-gradient-bg">Show/Hide</button></div> -->


<div class="contentMain cluster wow fadeInUpMin" data-wow-duration="2s">
  <iframe src="/bird_nav" frameborder="0" scrolling="yes" width="100%" height="200" align="top" style= "resize: vertical; overflow:  hidden;"></iframe> 

  <h1>Cluster</h1>
  <div id="bird">Data has already been loaded from BIRD abstracts</div>   <!-- Write your comments here -->
  <div id="init-cluster-params">
    <label for="cluster-file-input" class="larger-text">Abstracts File:   </label>
    <input type='file' id="cluster-file-input"  />
    <br />
    <label class="larger-text">Number of Clusters:    </label>
    <select id="cluster-select" class="styledSelect"></select>
    <button class="btn blue-gradient-bg" onclick="createCluster()">Cluster</button>
    <button class="btn blue-gradient-bg" onclick="createClusterBIRD()">Cluster BIRD Results</button>
  </div>
  <!-- <div id="cluster-tool-info">
    <h2>Topic Clustering</h2>
    <p>Topic clusters are the underlying themes of a paper. 
      <br />
      This tool accepts the titles and abstracts of papers that have been aggregated into a file with the formatting specified below and 
      displays the underying topic clusters so the themes of the corpus are easily visible.
      
    </p>
    <br/><br/><br/>
    <h3>File Formatting</h3>
    Upload .txt file must be formatted as:<br />
    Title\r\n <br />
    Abstract\r\n <br />
    \r\n <br />
    \r\n <br />
    Title\r\n <br />
    ect...
  </div> -->
  <div class="results-wrapper">
      <div id="recluster-group" class="vis-hidden noSelect">
          <p class="larger-text">
            Recluster Options
            <i class="icon-info" title="These can be used to create a subset and/or recluster the current dataset.
             -To create a Subset, select 2 or more clusters and the Number of Clusters the new visualization should have.
             -To recluster on the current dataset, chose a new Number of Clusters without checking any of the Subset checkboxes.">
            </i>
          </p>
          Subset: 
          <div id="checkbox-span"></div>
          <br />
          Number of Clusters:
          <select id="recluster-select" class="styledSelect"></select>          
          <button class="btn blue-gradient-bg" onclick="recluster()">Recluster</button>
      </div>
      <div id="cluster-titles" class="vis-hidden">
        <button id="title-header" class="collapsible noSelect" onclick="collapsibleClick()">Abstract Titles
          <span id="title-count"></span>
        </button>
        <div id="title-content" class="content">
          <ul id="cluster-titles-list"></ul>
        </div>
      </div>
      <div id="lda_vis"></div>
  </div>
</div>

<script type="text/javascript">
  var df0;
  var dataTopics;
  var lda_out;
  var fileText;
  window.onload = pageSetup();

  function pageSetup() {
    let clusterSelect = $("#cluster-select");
    let reclusterSelect = $("#recluster-select");
    let maxNumOfClusters = 15;
    
    for (var i = 2; i <= maxNumOfClusters; i++)
    {
      clusterSelect.append($('<option>', {
        value: i,
        text: i 
      }));

      reclusterSelect.append($('<option>', {
        value: i,
        text: i 
      }));
    }
  /////////////////////////Kei ////////////////////////////
    var x = document.getElementById("bird");
    if (sessionStorage.getItem("bird_data")){
        fileText = sessionStorage.getItem("bird_data")
        sessionStorage.removeItem("bird_data");
    } else {
        x.style.display = "none";
    }
  ////////////////////////End Edit////////////////////////
  }

  /** 
   * Checks uploaded file for proper file extension and retrieves file text if correct extension
   * Registers on page load
   */
  $("#cluster-file-input").change(function(){

    let uploadFile = $("#cluster-file-input")[0].files[0];
    let reader = new FileReader();
    let splitFileName = uploadFile.name.split(".");
  
    if (splitFileName[1] !=  "csv"&"txt") {
      alert("This tool requires a .txt or .csv file. Please upload a .txt or .csv file to continue.");
      return;
    }
    reader.onload = function(e){
      fileText = reader.result;
    }
    reader.readAsText(uploadFile);
  })

  /**
   * Requests data for inital clustering using uploaded file text and selected number of clusters.
   * Uses:
   *    fileText
   * Populates: 
   *    df0
   *    dataTopics
   *    lda_out
   */
  function createCluster () {
    let resultsWrapper = $(".results-wrapper");
    let numberOfClusters = $("#cluster-select option:selected").prop("value");
    let reclusterGroup = $("#recluster-group");
    let initClusterParams = $("#init-cluster-params");
    let initInfo = $("#cluster-tool-info");
    let titlesList = $("#cluster-titles");

    if (typeof fileText === 'undefined') {
      alert("Please upload a file.");
      return;
    }
    
    resultsWrapper.addClass("processing"); 

    populateReclusterParamControls(numberOfClusters);

    initClusterParams.addClass('not-displayed');
    initInfo.addClass('not-displayed');

    $.post("/cluster", JSON.stringify({file: fileText, numClusters: numberOfClusters, df0: "", selectedClusters: []}), function(response){
      resultsWrapper.removeClass("processing");
      reclusterGroup.removeClass("vis-hidden");

      let rawLdaDataString;
      let parsedData;

      df0 = response[0];
      rawLdaDataString = response[1];
      lda_out = response[2];
      dataTopics = response[3];
      abstractTitles = response[4];

      populateTitlesList(abstractTitles);
      titlesList.removeClass("vis-hidden");
      
      parsedData = JSON.parse(rawLdaDataString);
      displayVisualization(parsedData);
    })
    .fail(function(response) {
      if (response.responseText.includes("complex"))
        alert("Error: Clustering could not be completed, please try clustering on a larger subset or reducing the number of clusters.");
      else alert(response.responseText);

      resultsWrapper.removeClass("processing");
      initClusterParams.removeClass("not-displayed");
    });  
  }

  function createClusterBIRD () {
    var x = document.getElementById("bird");
    if (sessionStorage.getItem("bird_data")){
        fileText = sessionStorage.getItem("bird_data")
        sessionStorage.removeItem("bird_data");
        x.style.display = "Data loaded from BIRD files";
    } else {
        x.style.display = "none";
        alert("Please upload a file.");
        return;
    }

    let resultsWrapper = $(".results-wrapper");
    let numberOfClusters = $("#cluster-select option:selected").prop("value");
    let reclusterGroup = $("#recluster-group");
    let initClusterParams = $("#init-cluster-params");
    let initInfo = $("#cluster-tool-info");
    let titlesList = $("#cluster-titles");
    
    resultsWrapper.addClass("processing"); 

    populateReclusterParamControls(numberOfClusters);

    initClusterParams.addClass('not-displayed');
    initInfo.addClass('not-displayed');

    $.post("/cluster", JSON.stringify({file: fileText, numClusters: numberOfClusters, df0: "", selectedClusters: []}), function(response){
      resultsWrapper.removeClass("processing");
      reclusterGroup.removeClass("vis-hidden");

      let rawLdaDataString;
      let parsedData;

      df0 = response[0];
      rawLdaDataString = response[1];
      lda_out = response[2];
      dataTopics = response[3];
      abstractTitles = response[4];

      populateTitlesList(abstractTitles);
      titlesList.removeClass("vis-hidden");
      
      parsedData = JSON.parse(rawLdaDataString);
      displayVisualization(parsedData);
    })
    .fail(function(response) {
      if (response.responseText.includes("complex"))
        alert("Error: Clustering could not be completed, please try clustering on a larger subset or reducing the number of clusters.");
      else alert(response.responseText);

      resultsWrapper.removeClass("processing");
      initClusterParams.removeClass("not-displayed");
    });  
  }


  function populateReclusterParamControls(count) {
    let checkboxSpan = $("#checkbox-span");
    let newCheckBox = "";

    //remove previous options
    $("#checkbox-span div").remove();   

    for (var i = 1; i <= count; i++)
    {
      // add new checkbox
      newCheckBox = $("<div>", {id: "check-cont-" + i, "class": "check-container"});
      $('<input />', { type: 'checkbox', id: 'cb-'+ i, value: i, class: 'checkmark'}).appendTo(newCheckBox);
      $('<label />', { 'for': 'cb-'+ i, text: " " + i }).appendTo(newCheckBox);
      checkboxSpan.append(newCheckBox);
    }
  }

    /**
   * Requests data for both subsets and reclustering.
   * Uses:
   *    fileText
   * Populates: 
   *    df0
   *    dataTopics
   *    lda_out
   */
  function recluster() {
    let ldaDiv = $("#lda_vis");
    let resultsWrapper = $(".results-wrapper");
    let reclusterGroup = $("#recluster-group");
    let titlesList = $("#cluster-titles");
    let numberOfClusters = $("#recluster-select option:selected").prop("value");
    let checkedClusters = $("#checkbox-span input:checked").map(function(){   //get basic array of checked checkboxes as numbers
      return parseInt($(this).val());
    }).get();

    if (checkedClusters.length == 1) {   //0 lets the user recluster without creating a subset
      alert("Please select either 0 or 2+ clusters.");
      return;
    }

    ldaDiv.empty();
    resultsWrapper.addClass("processing");
    reclusterGroup.addClass("vis-hidden");
    titlesList.addClass("vis-hidden");
    
    $.post("/cluster",  JSON.stringify({numClusters: numberOfClusters, preparedData: dataTopics, df0: df0, lda_out: lda_out, selectedClusters: checkedClusters}), function(response){
      reclusterGroup.removeClass("vis-hidden");
      resultsWrapper.removeClass("processing");
      
      let rawLdaDataString;
      let parsedData;

      df0 = response[0];
      rawLdaDataString = response[1];
      lda_out = response[2];
      dataTopics = response[3];
      titles = response[4];

      populateTitlesList(titles);
      titlesList.removeClass("vis-hidden");
      
      parsedData = JSON.parse(rawLdaDataString);

      displayVisualization(parsedData);
    })
    .fail(function(response) {
      if (response.responseText.includes("complex"))
        alert("Error: Clustering could not be completed, please try clustering on a larger subset or reducing the number of clusters.");
      else alert("Unknown Failure");
     
      resultsWrapper.removeClass("processing");
      reclusterGroup.removeClass("vis-hidden");
    });  

    populateReclusterParamControls(numberOfClusters);
  }

  function populateTitlesList(titles) {
    let list = $('#cluster-titles-list');
    let titleCount = $("#title-count");

    list.empty();
    titleCount.text('(' + titles.length + ')');

    titles.forEach(title => {
      list.append('<li>' + title + '</li>');
    });
  }

  function collapsibleClick() {
    let header = $("#title-header")[0];
    let content = $("#title-content")[0];
    let maxHeight = 250;

    if (content.scrollHeight > maxHeight)
      content.style.overflow = "auto";
    else content.style.overflow = "hidden";

    if (content.style.maxHeight) 
      content.style.maxHeight = null;
    else content.style.maxHeight = maxHeight + "px";
  }

  function displayVisualization(data) {
    if (typeof (LDAvis) !== "undefined") {
      // already loaded: just create the visualization
      ! function (LDAvis) {
        new LDAvis("#" + "lda_vis", data);
      }(LDAvis);
    } else if (typeof define === "function" && define.amd) {
      // require.js is available: use it to load d3/LDAvis
      require.config({
        paths: {
          d3: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min"
        }
      });
      require(["d3"], function (d3) {
        window.d3 = d3;
        LDAvis_load_lib("{{url_for('static', filename='js/ldavis.js')}}", function () {
          new LDAvis("#" + "lda_vis", data);
        });
      });
    } else {
      // require.js not available: dynamically load d3 & LDAvis
      LDAvis_load_lib("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", function () {
        LDAvis_load_lib("{{url_for('static', filename='js/ldavis.js')}}", function () {
          new LDAvis("#" + "lda_vis", data);
        })
      });
    }
  }
    
  function LDAvis_load_lib(url, callback) {
    var s = document.createElement('script');
    s.src = url;
    s.async = true;
    s.onreadystatechange = s.onload = callback;
    s.onerror = function () {
      console.warn("failed to load library " + url);
    };
    document.getElementsByTagName("head")[0].appendChild(s);
  }  
</script>

{% endblock content %} 