
{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three-spritetext"></script>
    <script src="//unpkg.com/3d-force-graph"></script>
{% endblock %}

{% block content %}

<h1 class="graphHeader">Ontology Graph Visualization</h1>
<div id="hmGraph"></div>
<div class="sideInfo">
  <div class="closeIcon">
    <span></span>
    <span></span>
  </div>
  <h2 class="nodeLabel"></h2>
  <div class="scrolldiv">
    <p class="nodeDescription"></p>
    <a class="nodeLearnMore simpleButton" href="">Learn More</a>
  </div>
</div>

<script>

  //var color = new THREE.Color( 0xff0000 );
  let highlightNodes = [];
  let highlightLink = null;



  let wW = $(document).innerWidth() - 240;
  let wH = $(document).innerHeight() - 4;

  console.log(wW);
  console.log(wH);

  const elem = document.getElementById('hmGraph');
  const Graph = ForceGraph3D()
  (elem)
    .width(wW)
    .height(wH)
    .backgroundColor('#00000000')
    .nodeAutoColorBy('keywords')
    .nodeColor(node => highlightNodes.indexOf(node) === -1 ? 'rgba(38, 153, 188,1)' : 'rgb(255,0,0,1)')
    .linkColor(node => highlightNodes.indexOf(node) === -1 ? 'rgba(225, 225, 225,1)' : 'rgba(225, 225, 225,1)')
    .nodeResolution(40)
    .nodeLabel('label')
    .jsonUrl('../data/d3graph.json')
    .showNavInfo(false)
    .forceEngine('ngraph')
    //.onNodeHover( node => elem.style.cursor = node ? 'pointer' : null)
    .onNodeHover(node => {
      // no state change
      if ((!node && !highlightNodes.length) || (highlightNodes.length === 1 && highlightNodes[0] === node)) return;
      highlightNodes = node ? [node] : [];
      updateGeometries();
    })
    .onNodeClick( function(d) { 
      //window.location.href = ("/profile/" + d.id); 
      $.getJSON('/getNodeData/' + d.id,
          function(data) {
            $(".nodeLabel").text(data.label);
            $(".nodeDescription").text(data.description);
            $(".nodeLearnMore").attr("href", "/profile/" + d.id);
      });
      $(".sideInfo").toggleClass("active");
    });  
    // Collapse node info side bar
    $(".sideInfo .closeIcon").click(function() {
        $(".sideInfo").toggleClass("active");
    });

    function updateGeometries() {
      Graph.nodeRelSize(4); // trigger update of 3d objects in scene
    }


    // OTHER OPTIONS /////////////////////////////////

    //.linkAutoColorBy(d => d.source)
    //.backgroundColor(color)

    // .numDimensions(2)
    // .onNodeClick(node => {
    //     // Aim at node from outside it
    //     const distance = 40;
    //     const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);
    //     Graph.cameraPosition(
    //       { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }, // new position
    //       node, // lookAt ({ x, y, z })
    //       3000  // ms transition duration
    //     );
    //   });

    // camera orbit
    // const distance = 1000;
    // let angle = 0;
    // setInterval(() => {
    //   Graph.cameraPosition({
    //     x: distance * Math.sin(angle),
    //     z: distance * Math.cos(angle)
    //   });
    //   angle += Math.PI / 300;
    // }, 30);

    // const Graph = ForceGraph3D()
    //   (document.getElementById('3d-graph'))
    //     .jsonUrl('../data/d3graph.json')
    //     .width('1280')
    //     .height('700')
    //     .nodeAutoColorBy('group')
    //     .forceEngine('ngraph')
    //     .nodeThreeObject(node => {
    //       const sprite = new SpriteText(node.label);
    //       sprite.color = node.color;
    //       sprite.textHeight = 8;
    //       return sprite;
    //     });

    // Spread nodes a little wider
    // Graph.d3Force('charge').strength(-150);

  </script>


{% endblock content %}

