{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="contentMain profile wow fadeIn" data-wow-duration="2s">
  <h1>{{profile.label}}</h1>
  <div class="col-left">
    <p>{{profile.description}}</p>
    </br>
    <p>Keywords:
      {% for keyword in profile.keywords %}
        <span class="keyword">{{ keyword }}</span>
      {% endfor %}
      {% if not profile.keywords %}
        <span class="lightGrey">No available keywords</span>
      {% endif %}
    </p>
    <hr>
    <h2>Literature</h2>
    <p>{% for item in profile.literature %}
          <p>{{ item }}</p>
       {% endfor %}
       {% if not profile.literature %}
          <span class="lightGrey">No available literature</span>
       {% endif %}
    </p>
  </div>
  <div class="col-right">
    <img src="{{ url_for('static', filename = profile.img) }}" alt="petal image">
    <hr>
    <h2>Related</h2>
    <div><strong>Superclasses</strong></div>
    {% for ont_class, label in profile.parents.items() %}
      <a href="/profile/{{ont_class}}"> {{ label }}</a><br>
    {% endfor %}

    {% for ont_class, label in profile.children.items() %}
      <a href="/profile/{{ont_class}}"> {{ label }}</a><br>
    {% endfor %}
    <br>
    <div><strong>See Also</strong></div>
    <div class="panel-body">        
    {% for ont_class, label in profile.see_also.items() %}
      <a href="/profile/{{ont_class}}"> {{ label }}</a>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
