neo4j
pandas
nltk
django
bitflow
beautifulsoup4
efficientnet-pytorch
gensim
lxml
matplotlib
neobolt
nltk
numpy
pandas
Pillow
requests
scholarly
scipy
seaborn
urllib3
plotly
selenium
torch==1.5.0+cpu
torchvision==0.6.0+cpu