.bird {

    h1 {
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    #bio-terms {
        font-size: .9em;
        margin-top: 3px;
        height: 2em;
    }

    #abstracts {
        h2 {
            color: $action-blue;
        }

        #bird-abstract-details {
            display: flex;
            justify-content: space-between;
        }

        #bird-abstract-footer {
            display: flex;
            justify-content: space-between;
            vertical-align: bottom;
        }
    }

    .not-displayed {
        display: none;
    }

    .vis-hidden {
        visibility: hidden;
    }

    .larger-font {
        font-size: 1.5em;
    }

    .accent-color {
        color: $action-blue;
    }
}

.bird-abstract {
    .expandable-text {
        p {
            margin: 0;
        }
        
        .trigger {
            color: #337ab7;
            outline: none;
            background: none;
            border: none;
            cursor: pointer;
        }
    
        .expanded-content {
            display: none;
        }
    }
      
    .panel {
        background-color: transparent;
        margin: 0;
    }

    button {
        width: 100%;
        
    }
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 16px;
  }

  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

// /*when navigating through the items using the arrow keys:*/
// .autocomplete-active {
//   background-color: DodgerBlue !important;
//   color: #ffffff;
// }
