{% extends "navbar.html" %}
{% load static %}
{% block head %}
  {{ block.super }}
    <script src="{% static 'js/bird.js' %}"></script>
{% endblock %}

{% block content %}

<div class="contentMain bird wow fadeInUpMin" data-wow-duration="2s">
  <h1>BIRD</h1>
  <h3>Bio-Inspired Research and Design</h3>
  <div id="bird-intro">
  BIRD is a simple tool to assist in brainstorming engineering projects using biological systems as inspiration.
  </div>
  <br>
  <form action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Engineering Terms..">
  <button id="plot-btn" class="btn blue-gradient-bg" type="submit", name="action", value="plot">Plot</button>
  <button id="search-btn" class="btn blue-gradient-bg" type="submit", name="action", value="search">Search</button>
  </form>
  <br>


{% block subcontent %}
{% endblock subcontent %}
</div>
{% endblock content %}
