node {
  diameter: 50px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 2px;
  text-color-internal: #FFFFFF;
  font-size: 10px;
}
relationship {
  color: #A5ABB6;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: "<type>";
}
node.* {
  color: #C990C0;
  border-color: #b261a5;
  text-color-internal: #FFFFFF;
  defaultCaption: "<id>";
}
node.Taxon {
  color: #F79767;
  border-color: #f36924;
  text-color-internal: #FFFFFF;
  defaultCaption: "<id>";
}
node.Kingdom {
  color: #F16667;
  border-color: #eb2728;
  text-color-internal: #FFFFFF;
  defaultCaption: "<id>";
  caption: "{name}";
}
node.Phylum {
  caption: "{name}";
  color: #F79767;
  border-color: #f36924;
  text-color-internal: #FFFFFF;
}
node.Species {
  caption: "{name}";
  color: #4C8EDA;
  border-color: #2870c2;
  text-color-internal: #FFFFFF;
}
node.Genus {
  caption: "{name}";
  color: #8DCC93;
  border-color: #5db665;
  text-color-internal: #604A0E;
}
node.Family {
  caption: "{name}";
  color: #D9C8AE;
  border-color: #c0a378;
  text-color-internal: #604A0E;
}
node.Superfamily {
  caption: "{name}";
  color: #8DCC93;
  border-color: #5db665;
  text-color-internal: #604A0E;
}
node.Class {
  caption: "{name}";
  color: #8DCC93;
  border-color: #5db665;
  text-color-internal: #604A0E;
}
node.Order {
  caption: "{name}";
  color: #8DCC93;
  border-color: #5db665;
  text-color-internal: #604A0E;
}
node.Article {
  color: #569480;
  border-color: #447666;
  text-color-internal: #FFFFFF;
  caption: "{title}";
}
node.WikipediaArticle {
  defaultCaption: "<id>";
}
node.Subgenus {
  caption: "{name}";
  color: #8DCC93;
  border-color: #5db665;
  text-color-internal: #604A0E;
}
