@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

/*Colors */

body {
    background-color: #0f383c;
    background-color: #99cc00;
    background-color: #4ebb5c;
    background-color: #00aabb;
    margin: 0px;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    background-color: #0f383c;
}

.d3-tip {
    line-height: 1;
    font-size: 12px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.active {
    /*font-weight: bold;*/
    font-size: 110%;
}

path.link {
    stroke-width: 2px;
    stroke: #777;
    fill: none;
}

line.link {
    stroke-width: 2px;
    stroke: #777;
}

text.names {
    pointer-events: none;
    font-family: 'Archivo Narrow', 'Helvetica';
    text-decoration: none;
}

text.toplevel {
    font-size: 19px;
}

text.middlelevel {
    font-size: 17px;
}

text.bottomlevel {
    font-size: 15px;
}

text.plusminus {
    pointer-events: none;
    font-family: 'Archivo Narrow', 'Helvetica';
    text-decoration: none;
    /*font-weight: bold;*/
}

text.highlighted {
    text-decoration: underline;
    font-size: 110%;
}

.rowBorder {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

rect.hoverbox {
    fill: none;
    stroke: none;
    stroke-width: 0;
    opacity: 1;
    pointer-events: visible;
}

rect.hoverbox.hovered {
    stroke-width: 2px;
    fill: #0f383c;
    stroke: #E8E8E8;
}

circle.paintedRect {
    pointer-events: all;
}

.paintToolCircle {
    stroke: #444;
    stroke-width: 1px;
}

.paintToolText {
    font-family: "Archivo Narrow";
    font-size: 14px;
}

.numberLabel {
    font-size: 16px;
    font-family: "Archivo Narrow";
    /*font-weight: bold;*/
    fill: #ddd;
}

.guideTop {
    position: fixed;
    top: 2vh;
    right: 1.5%;
    width: 15vw;

    color: #999;
    font-size: 18px;
    font-family: "Archivo Narrow";/*Helvetica;*/
    /*padding: 20px;*/
    height: 350px;
    overflow: auto;

}

.guideTop ul {
    margin-top: 0;
    margin-left: 0;
    list-style-type: square;
    padding-left: 1em;
    color: #999;
}

.guideTop li {
    padding-left: 0.1em;
}

.guideTop li:before {

}

.guideTop a {
    color: inherit;
    text-decoration: inherit;
}

.guideTop a:hover {
    text-decoration: underline;
}

.guideList {
    padding: 10px;
    /*border-style: dotted;*/
    border-bottom: dotted #999 1px;
}

.lifeformTop {
    /* position: fixed;
    bottom: 10px;
    width: 99%;
    left: 0.5%;
    right: 0.5%; */
    /*position: relative;*/
    /*float: left;*/
    /*width: 20%;*/
    position: fixed;
    top: 350px;
    right: 1.5%;
    width: 16vw;
    /*width: 580px;*/
    /*top: 680px;*/
    /*left: 30px;*/
    /*bottom: 0px;*/
}

.lifeformHeader {
    /*font-weight: bold;*/
    font-size: 18px;
    background-color: none;
    font-family: 'Archivo Narrow', 'Helvetica';
    text-align: center;
    padding: 0.5em;
    border-radius: 10px 10px 0 0;
    /* border: 2px solid rgb(153,153,153);;
    border-bottom: 0px; */
    color: #999;
}

.lifeformList {
    background-color: none;
    min-height: 40vh;
    max-height: 40vh;
    z-index: -1;
    overflow: auto;
    font-family: "Archivo Narrow";
    font-size: 18px;
    padding: 10px;
    /* border: 2px solid rgb(153,153,153); */
    /* border-radius: 0 0 10px 10px; */
}

.lifeformList ul {
    margin-top: 0;
    margin-left: 0;
    list-style-type: square;
    padding-left: 1em;
    color: #999;
}

.lifeformList li {
    padding-left: 0.1em;
}

.lifeformList a {
    color: inherit;
    text-decoration: inherit;
}

.lifeformList a:hover {
    text-decoration: underline;
}

path {
    stroke: none;
    fill: none;
}
