<!DOCTYPE html>
<html lang="en">

<head>
<!--	&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
<!--	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61041493-2"></script>-->
<!--	<script>-->
<!--		window.dataLayer = window.dataLayer || [];-->
<!--		function gtag(){dataLayer.push(arguments);}-->
<!--		gtag('js', new Date());-->

<!--		gtag('config', 'UA-61041493-2');-->
<!--	</script>-->
	
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-52D78DH');</script>
	<!-- End Google Tag Manager -->
	
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Richard Pusch">
    <meta name="msvalidate.01" content="EE262A0F3FB70B7F2C6CA6EE38CB9AAD" />
    <meta name='robots' content='index,follow' />

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
	<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
	<script src="static/js/d3-tip.js"></script>
	<script type="text/javascript" src="static/js/nature.js"></script>
	<script type="text/javascript" src="static/js/paintView.js"></script>
	<script type="text/javascript" src="static/js/paintTool.js"></script>
	<script type="text/javascript" src="static/js/util.js"></script>

	<script type="text/javascript">
		let t;
		
		$(document).ready(function () {
			t = new Tool();
		});

	</script>

	<!--	&lt;!&ndash; Hotjar Tracking Code for biomole.asknature.org &ndash;&gt;-->
<!--	<script>-->
<!--		(function(h,o,t,j,a,r){-->
<!--			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};-->
<!--			h._hjSettings={hjid:1326799,hjsv:6};-->
<!--			a=o.getElementsByTagName('head')[0];-->
<!--			r=o.createElement('script');r.async=1;-->
<!--			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;-->
<!--			a.appendChild(r);-->
<!--		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');-->
<!--	</script>-->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52D78DH"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
