{% extends "navbar.html" %}
{% load static %}
{% block head %}
  {{ block.super }}

  {% block subhead %}
  {% endblock subhead %}

{% endblock head %}

{% block content %}
<div class="contentMain biomole wow fadeInUpMin" data-wow-duration="2s">
  <h1>BioMole</h1>
  <div>
  Biomole allows you to search for multiple functions and shows you where they overlap.
  </div>
  <br>
    <form action="{% url 'biomole_search' %}" method="get">
      <input name="q" type="text" placeholder="Engineering Terms..">
      <button id="search-btn" class="btn blue-gradient-bg" type="submit", name="action", value="search">Search</button>
    </form>
  <br>

{% block subcontent %}
{% endblock subcontent %}

</div>

{% endblock %}
