{% extends "navbar.html" %}
{% load static %}
{% block head %}
  {{ block.super }}
    <script src="{% static 'js/bird.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Richard Pusch">
    <meta name="msvalidate.01" content="EE262A0F3FB70B7F2C6CA6EE38CB9AAD" />
    <meta name='robots' content='index,follow' />

    <title>Biomole</title>

	<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
	<link rel="manifest" href="../favicon/site.webmanifest">
	<link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#0f383c">
	<meta name="theme-color" content="#0f383c">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
	<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
	<script src="{% static 'js/d3-tip.js' %}"></script>
	<script src="{% static 'js/nature.js' %}"></script>
<!--	<script type="text/javascript" src="selectView-old.js"></script>-->
	<script src="{% static 'js/paintview.js' %}"></script>
	<script src="{% static 'js/paintTool.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>

	<script type="text/javascript">
		let t;

		$(document).ready(function () {
			t = new Tool();
		});

	</script>

	<!--	&lt;!&ndash; Hotjar Tracking Code for biomole.asknature.org &ndash;&gt;-->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:1326799,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
</head>

{% endblock %}

{% block content %}

<!--<div class="biomole_box"></div>-->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52D78DH"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% endblock content %}
