{% extends "navbar.html" %}
{% load static %}
{% block head %}
  {{ block.super }}
    <script src="{% static 'bird/js/bird.js' %}"></script>
{% endblock %}

{% block content %}

<div class="contentMain bird wow fadeInUpMin" data-wow-duration="2s">
  <h1>BIRD</h1>
  <h3>Bio-Inspired Research and Design</h3>
  <form action="{% url 'bird-results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
  <button id="search-btn" class="btn blue-gradient-bg" type="submit">Search</button>
  </form>
  <p id="bio-terms" class="vis-hidden"></p>
  <div id="bird-intro">
    <h4>This tool is designed to assist engineers in finding biological papers pertaining to a specific engineering issue. </h4>
    <p>
      <h3>Biomimicry:</h3> 
      The design and production of materials, structures, and systems that are modeled on biological entities and processes. BIRD is a biomimicry software tool to help scientists and professionals incorporate biological literature in their design for engineering projects. Some notable uses of biomimicry in the past include Velcro based on burrs, Japanese bullet trains based on bird beaks, and the thermoregulating building based on termite mounds.
      Biomimicry works best when you define your problem in terms of function. Rather than asking “what do I want to design?” ask “what do I want my design to do?” and “why do I want my design to do that?” Once you have your issue, ask “what in nature does that?” 
      <br />
      <br />
      This is where BIRD comes in: behind the scenes each engineering function is translated into the relevant biological functions, and the best biological journals are searched for articles.
      Once you have a list of biological literature, narrow down the scope based on examples in a similar environment to your design (humidity, temperature, underwater, etc.) Choose the most relevant and brainstorm based on those principles! 
      <br />
      <br />
      <span class="accent-color">It is important to note that this tool does not reveal pre-set engineering solutions, but provides the novel biological information to aid in the research process. </span>
      <br />
      <br />
      The dropdowns at the top of the page are designed to help you narrow the problem you are trying to solve down to one specific engineering concept. <br />
      <br />
      <h2>Happy Exploring!</h2>
    </p>

  </div>
  <div id="abstracts" class="not-displayed"></div>
</div>

<script>
  window.onload = loadData();

  var tertiaryData;

  function loadData() {
    loadPrimaryDropDown();
  }

  function getPrimaryDropdownData() {
    return bird_data;
  }

  function getSecondaryDropdownData(primaryIndex) {
    return bird_data[primaryIndex].secondary;
  }

  function getTertiaryDropdownData(primaryIndex, secondaryIndex) {
    return bird_data[primaryIndex].secondary[secondaryIndex].tertiary;
  }

  function loadPrimaryDropDown() {
    var primaryInfo = getPrimaryDropdownData();

    for (var i = 0; i < primaryInfo.length; i++) {
      $("#primary-dropdown").append($('<option>', {
        value: primaryInfo[i].id,
        text: primaryInfo[i].name
      }));
    }    
  }

  function getTertiaryTerm(tertiaryName) {
    for (var i = 0; i < tertiaryData.length; i++) {
      if (tertiaryData[i].engineer === tertiaryName)
        return tertiaryData[i];
    }
  }

  /**
   * Retrieves biological terms for selected tertiary term
   * @param {string} tertiaryId
   * @return {string} result String of all biology terms in format term1, term2, term3
  */
  function getBioTerms(tertiaryName) {
    var result = ""; 
    var tertiaryTerm = getTertiaryTerm(tertiaryName);
    var biologistTerms = tertiaryTerm.biologist;

    biologistTerms.forEach(function (element) {
      result += element + ", ";
    });

    result = result.substring(0, result.length - 2);

    return result;
  }

  /**
   * Populates secondary-dropdown based on primary-dropdown selection.
   * Enables secondary-dropdown, disables tertiary-dropdown and search-btn, hides bio-terms.
  */
  function primarySelected(primaryIndex) {
    var secondarydd = $("#secondary-dropdown");
    var tertiarydd = $("#tertiary-dropdown");
    var bioTermsDiv = $("#bio-terms");
    var searchBtn = $('#search-btn');

    bioTermsDiv.addClass('vis-hidden');

    secondarydd.selectedIndex = 0;     

    $('#secondary-dropdown option[value!=""]').remove();  //remove all but the default option
    $('#tertiary-dropdown option[value!=""]').remove();

    if (primaryIndex === "") {
      secondarydd.prop('disabled', true);
      tertiarydd.prop('disabled', true);
    }
    else {
      var secondaryInfo = getSecondaryDropdownData(primaryIndex)

      for (var i = 0; i < secondaryInfo.length; i++) {
        secondarydd.append($('<option>', {
          value: secondaryInfo[i].id,
          text: secondaryInfo[i].name
        }));
      }

      secondarydd.prop('disabled', false);
      tertiarydd.prop('disabled', true);
      searchBtn.prop('disabled', true);
    }
  }

  /**
   * Populates tertiary-dropdown based on secondary-dropdown selection.
   * Enables tertiary-dropdown, disables search-btn, hides bio-terms.
  */
  function secondarySelected(secondaryIndex) {
    var tertiarydd = $("#tertiary-dropdown");
    var primaryIndex = $("#primary-dropdown option:selected").prop("value");
    var bioTermsDiv = $("#bio-terms");
    var searchBtn = $('#search-btn');

    bioTermsDiv.addClass('vis-hidden');

    $('#tertiary-dropdown option[value!=""]').remove();
    if (secondaryIndex === "") {
      tertiarydd.prop('disabled', true);
    }
    else {
      let tertiaryInfo = getTertiaryDropdownData(primaryIndex, secondaryIndex)
      for (var i = 0; i < tertiaryInfo.length; i++) {
        //var term = getTertiaryTerm(tertiaryInfo[i].name);
        tertiarydd.append($('<option>', {
          value: tertiaryInfo[i].id,
          text: tertiaryInfo[i].name
        }));
      }

      tertiarydd.prop('disabled', false);
      searchBtn.prop('disabled', true);      
    }
  }

  /**
   * Displays biological terms associated with selected tertiary term.
   * Enables search-btn.
  */
  function tertiarySelected(tertiaryIndex) {
    var primaryIndex = $("#primary-dropdown option:selected").prop("value");
    var secondaryIndex = $("#secondary-dropdown option:selected").prop("value");
    var tertiaryName = $("#tertiary-dropdown option:selected").prop("text");
    var bioTermsDiv = $("#bio-terms");
    var searchBtn = $('#search-btn');
  
    var bioTerms = getBioTerms(tertiaryName);
    var newString = "Biology terms in this search: " + bioTerms;

    bioTermsDiv.text(newString);
    bioTermsDiv.removeClass('vis-hidden');
    searchBtn.prop('disabled', false);
  }

  /**
   * Retrives and displays abstracts associated with selected tertiary term.
   * Hides bird-intro. 
  */
  var data_stored_for_cluster = ''

  function birdSubmit() {
    var tertiaryTerm = $("#tertiary-dropdown option:selected").prop("text");
    var abstractsDiv = $("#abstracts");
    var introDiv = $('#bird-intro');
    var clusterBtn = $('#cluster-btn');

    $.post('/bird_e2b', JSON.stringify(tertiaryTerm), function(response){
      abstractsDiv.html(response);
      data_stored_for_cluster = response
      introDiv.addClass('not-displayed');
      abstractsDiv.removeClass('not-displayed');
      clusterBtn.prop('disabled', false);
    });

  } 

  function sendToCluster() {
    var tertiaryTerm = $("#tertiary-dropdown option:selected").prop("text")
    // Store
    //sessionStorage.setItem("bird_data", bird_result);
    //window.location = "/bird2cluster"

    $.post('/bird2cluster', JSON.stringify(tertiaryTerm), function(response){
      sessionStorage.setItem("bird_data", response);
      window.location = "/cluster"
    });
    // bird_result = String(data_stored_for_cluster)

    // console.log(bird_result)
    // $.post('/bird2cluster', JSON.stringify(bird_result), function(response){
    //   sessionStorage.setItem("bird_data", response);
    //   window.location = "/cluster"
    // });
  }
</script>

{% endblock content %}
