{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      {% block head %}
         <title>PeTaL</title>
         <link rel="shortcut icon" href="{% static 'bird/images/favicon.ico' %}" />
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="{% static 'bird/styles.css' %}" />
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      {% endblock %}
   </head>
   <body class="darkModeActive">
      <section id="topBar">
         <div id="sideBarTrigger">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="btm"></span>
         </div>
      </section>
      <nav>
         <div class="wrapper">
            <a class="logo" href="/">
		    <img src="{% static 'bird/images/petal-icon.png' %}">
               <p>PeTaL<br><span>Periodic Table of Life</span></p>
            </a>
            <ul>
               <li class="subnavToggle">
                     <a href="#">BIRD<span class="icon-circle-down"></span></a>
                     <ul>
                        <li><a href="/bird_e2b">Engineering to Biology</a></li>
                        <li><a href="/bird_searchable">NASA Thesaurus</a></li>
                     </ul>
                  </li>
               <li><a href="/cluster">Cluster</a></li>
               <li><a href="/vision">Vision</a></li>
               <li><a href="/BioMole">BioMole</a></li>
               <li><a href="/scatter">3D Scatter Plot</a></li>

               <li class="subnavToggle">
                  <a href="#">Ontology Explorer<span class="icon-circle-down"></span></a>
                  <ul>
                     <!-- <li><a href="/profile/{{label}}">Profile Outline</a></li>
                     <li><a href="#list">List View</a></li> -->
                     <li><a href="/graph-2d">2D Graphical View</a></li>
                     <!-- <li><a href="/test">3D View</a></li> -->
                     <li><a href="/graph-3d">3D Graphical View</a></li>
                  </ul>
               </li>
               <li class="subnavToggle">
                  <a href="#">Beta<span class="icon-circle-down"></span></a>
                  <ul>
                     <li><a href="/map">Map</a></li>
                     <li><a href="/tsne">T-SNE</a></li>
                  </ul>
               </li>
               
            </ul>
            <div class="settings">
               <span class="settingsToggler icon-cog"></span>
               <div class="settingsDropdown">
                  <ul>
                     <li class="darkModeOption">
                        <a href="#" class="noSelect"><span class="icon-brightness-contrast"></span>Toggle Dark Mode</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
      <div id="contentWrapper">
         {% block content %}
         {% endblock %}
         <footer class="footer">
            <div class="contentMain">
               <!-- <img src="./static/img/nasa-white-logo.png" alt="nasa logo"/> -->
               <h3>National Aeronautics and Space Administration</h3>
            </div>
         </footer>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{% static 'bird/scripts.js' %}"></script>
      </div>
   </body>
</html>
